*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.stopwatch{
    display: flex;
    flex-direction: column;
}
h1{
    border:2px solid black;
    width: 80%;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: blue;
    color:white;
    padding:10px 10px;
}
h2{
    margin:0px auto 30px;
    font-size: 60px;
    font-weight: 900;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin:20px auto 10px;
}
button{
    margin: 1px 20px 10px;
    width:150px;
    height:70px;
    border:2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button:hover{
    box-shadow: 10px 10px lightblue;
}
#stop{
    background-color: red;
    color: white;
}
#start{
    background-color: green;
    color: white;
}
#reset{
    background-color: yellow;
}
h1{
    text-align: center;
    margin:0px auto 20px;
    font-size: 40px;
}